<h1>Movies#delete</h1>
<p>Find me in app/views/movies/delete.html.erb</p>

<h1><%= @movie.title %></h1>
<h2>Directed by: <%= @movie.director %>

<%= link_to "Delete", movies_delete_path(:id => @movie.id) %>
<%= link_to 'Edit', edit_movie_path(@movie)%> |
<%= link_to 'Back', movies_path %>
