<%= render 'shared/header' %>


<div id="show">
	<aside>
		<div class="block">
			<%= image_tag @configuration.base_url + 'w342' + @movie['poster_path'] %>
		</div>
	</aside>
	<article>
		<div class="block">
			<h1 class="title"><%= @movie["title"] %></h1>
		</div>
	</article>
</div>


<%= link_to 'Edit', edit_movie_path(@movie)%> |
<%= link_to 'Back', movies_path %>